.did-tab-buttons {
	text-align: center;
}
.tab-content {
	padding-left: 0;
	padding-right: 0;
	overflow: hidden;
}
.padding-0 {
	padding-left: 0;
	padding-right: 0;
}
.tab-row {
	margin-left: 0;
	margin-right: 0;
	margin-bottom: 2rem;
}
.did-tab-1 {
	width: 100%;
	height: 65rem;
	position: relative;
	background: url(../img/Cyantra_bg.png) center no-repeat;
	overflow: hidden;
	.background-size(130% 110%);
	p {
		font-family: "Fira-sans light";
		font-size: 1.5rem;
	}
}
.cyantra-header-div {
	width: 31rem;
	position: absolute;
	left: 13%;
	top: 14%;
}
.cyantra-header-h {
	color: #ffffff;
	font-family: "AlegreyaSans bold";
	width: 24rem;
	font-size: 3rem;
	margin-top: 0;
	left: 14%;
	top: 7%;
}
.cyantra-header-p {
	color: #ffffff;
}
.cyntra-left-middle {
	color: #ffffff;
    position: absolute;
    width: 33rem;
    top: 53%;
    left: 13%;
}
.cyntra-left-bottom {
    color: #ffffff;
    position: absolute;
    width: 28rem;
    left: 13%;
    bottom: 7%;
}
.cyntra-right-bottom {
	color: #ffffff;
    position: absolute;
    width: 28rem;
    bottom: 7%;
    right: 14%;
}
.cyntra-blue-p {
    position: absolute;
    color: #00BBD0;
    width: 30rem;
    bottom: 26%;
    right: 20%;
}
.did-tab-btn {
	display: inline-block;
	margin: 0 2rem;
}
.footer-form {
	margon: 0 auto;
}
.footer-form {
	width: 319px;
}