.tab-content {
	padding-left: 0;
	padding-right: 0;
	overflow: hidden;
}
.padding-0 {
	padding-left: 0;
	padding-right: 0;
}
.tab-row {
	margin-left: 0;
	margin-right: 0;
	margin-bottom: 2rem;
}
.did-tab-mixin {
	width: 100%;
	height: 70rem;
	position: relative;
	overflow: hidden;
	p {
		font-family: "Fira-sans light";
		font-size: 1.5rem;
	}
}
.did-tab-1 {
	.did-tab-mixin;
}
.tab-background-img {
	position: absolute;
	width: 100%;
	height: 100%;
}
.cyantra-header-div {
	width: 31rem;
	position: absolute;
	left: 13%;
	top: 14%;
}
.tabs-main-h {
	font-family: "AlegreyaSans bold";
	font-size: 3rem;
	margin-top: 0;	
}
.cyantra-main-h {
	color: #ffffff;
	.tabs-main-h;
}
.cyantra-main-p {
	color: #ffffff;
}
.cyntra-left-middle {
	color: #ffffff;
	position: absolute;
	width: 33rem;
	top: 53%;
	left: 13%;
}
.cyntra-left-bottom {
	color: #ffffff;
	position: absolute;
	width: 28rem;
	left: 13%;
	bottom: 7%;
}
.cyntra-right-bottom {
	color: #ffffff;
	position: absolute;
	width: 28rem;
	bottom: 7%;
	right: 14%;
}
.cyntra-blue-p {
	position: absolute;
	color: #00BBD0;
	width: 30rem;
	bottom: 26%;
	right: 20%;
}
.did-tab-btn {
	display: inline-block;
	margin: 0 2rem;
}
.footer-form {
	margon: 0 auto;
}
.footer-form {
	width: 319px;
}
.did-tab-buttons {
	text-align: center;
}
.did-tab-btn {
	img {
		width: 100%;
		height: 100%;
		.filter(grayscale(100%));
	}
	p {
		color: #bdbdbd;
		font-family: "Fira-sans light";
		font-size: 1.6rem;
		margin-top: 0.5rem;
	}
	&:hover, &:focus {
		text-decoration: none;
	}
}
.did-tab-btn.active-tab-btn {
	img {
		.filter(none);
	}
	p {
		color: #000000;
	}
}
.tab-taboo-btn-img {
	margin-bottom: 2.5rem;
}
.did-tab-2 {
	.did-tab-mixin;
	background-color: #ff681f;
}
.tab-taboo-img-1 {
	position: absolute;
	left: 50%;
	top: 50%;
	.transform(translate(-50%, -50%));
}
.taboo-main-header {
	width: 34rem;
	position: absolute;
	left: 11%;
	top: 11%;
}
.taboo-main-h {
	.cyantra-main-h;
}
.taboo-main-p {
	.cyantra-main-p;
}
.taboo-tab-btn {
	opacity: 0.6;
	.taboo-small-header {
		text-decoration: underline;
	}
}
.taboo-tab-btn.taboo-btn-active {
	opacity: 1;
	.taboo-small-header {
		text-decoration: none;
	}
}
.taboo-tab-btn:hover, .taboo-tab-btn:focus {
	text-decoration: none;
}

.taboo-left-text {
	display: block;
	position: absolute;
	width: 25rem;
    bottom: 30%;
    left: 11%;
}
.taboo-left-text.taboo-btn-active:after {
	content: '';
	display: block;
	position: absolute;
	background: url(../img/taboo-filter-line.png) center no-repeat;
	width: 19rem;
	height: 7rem;
	left: 14.3rem;
	bottom: 8rem;
}
.taboo-right-top-text {
	display: block;
	position: absolute;
	width: 27rem;
	right: 11%;
	top: 11%;
}
.taboo-right-top-text.taboo-btn-active:after {
	content: '';
	display: block;
	position: absolute;
	background: url(../img/taboo-satellite-line.png) center no-repeat;
	width: 20rem;
	height: 20rem;
	top: -1rem;
    right: 24rem;
}
.taboo-right-bottom-text {
	display: block;
	position: absolute;
	width: 27rem;
	right: 11%;
	bottom: 16%;
}
.taboo-right-bottom-text.taboo-btn-active:after {
	content: '';
	display: block;
	position: absolute;
	background: url(../img/taboo-people-line.png) center no-repeat;
	width: 25rem;
	height: 11rem;
	bottom: 19rem;
	right: 28rem;
	.background-size(100% 100%);
}
.taboo-small-header {
	color: #ffffff;
	font-family: "Fira-sans bold";
}
.taboo-p {
	color: #ffffff;
	font-family: "Fira-sans light";
	font-size: 1.5rem; 
}
.tab-taboo-img-2 {
	.tab-taboo-img-1;
}
.tab-taboo-img-2 {
	.tab-taboo-img-1;
}
.did-tab-3 {
	.did-tab-mixin;
	background-color: #ffb650;
	p {
		color: #000000;
	}
	h4 {
		color: #000000;
		font-family: "Fira-sans bold";
	}
}
.safelagoon-img {
	.tab-taboo-img-1;
}
.safelagoon-main-h {
	position: absolute;
	.tabs-main-h;
	color: #000000;
	width: 38rem;
	left: 12%;
	top: 17%;
}
.safelagoon-btn {
	position: absolute;
	display: block;
	pointer-events: none;
	opacity: 0.6;
	.safelagoon-small-h {
		text-decoration: underline;
	}
}
.safelagoon-btn.safelagoon-btn-active {
	opacity: 1;
	.safelagoon-small-h {
		text-decoration: none;
	}
}
.safelagoon-left-middle {
	width: 23rem;
	top: 40%;
	left: 12%;
}
.safelagoon-left-bottom {
	width: 25rem;
	bottom: 18%;
    left: 15%;
}
.safelagoon-right-top {
	width: 20rem;
    top: 14%;
    right: 15%;
}
.safelagoon-right-middle {
	width: 20rem;
    top: 40%;
    right: 12%
}
.safelagoon-right-bottom {
    width: 20rem;
    bottom: 18%;
    right: 15%;
}